{% extends 'base.html.twig' %}

{% block title %}Edit Systeme{% endblock %}

{% block body %}

    {{ include('systeme/new.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_systeme_index') }}">back to list</a>

    {{ include('systeme/_delete_form.html.twig') }}
{% endblock %}
